<%- include('partials/header') %>

<main class="home-page">
  <section class="hero">
<!--     <img src="images/backg.png" alt="background of books" loading="lazy">
 -->    <div class="container">
      <h1>Books for English learners</h1>
      
      <div class="cta-buttons">
        <a href="/signup" class="btn btn-primary btnHome">Sign Up</a>
        <a href="/login" class="btn btn-secondary btnHome">Login</a>
      </div>
    </div>
  </section>
  
  <section class="features">
    <div class="container">
      <h2>Why Choose ESL Books?</h2>
      <div class="feature-grid">
        <div class="feature featureHome">
          <img src="/images/interactive.png" alt="interactive reading" loading="lazy" width="120">
          <h3>Interactive Reading</h3>
          <p>Treine leitura em qualquer nível de fluência com ferramentas interativas.</p>
        </div>
        <div class="feature featureHome">
          <img src="/images/wordbank.png" alt="interactive reading" loading="lazy" width="120">
          <h3>Personal Word Bank</h3>
          <p>Salve e organize vocabulário novos em seu próprio banco de palavras.</p>
        </div>
        <div class="feature featureHome">
          <img src="/images/translation.png" alt="interactive reading" loading="lazy" width="120">
          <h3>Instant Translations</h3>
          <p>Veja traduções instantâneas das palavras desconhecidas que ler.</p>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('partials/footer') %>